.navbar {
	min-width: 125px;
	width: 20%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	margin: 15px 17px 0 0;

	ul {
		list-style-type: none;

		a {
			text-decoration: none;
			display: block;
			font-size: 18px;
			color: rgba(9, 22, 42, 0.8);
			&.active {
				color: rgb(0, 0, 0);
				font-weight: 500;
				background-color: #999ea398;
			}
			&:hover {
				background-color: #999ea349;
				transition-duration: 0.4s;
			}
			&:active {
				color: rgba(9, 22, 42, 0.8);
			}
		}
	}
}
