.navbar {
	min-width: 125px;
	width: 20%;
	ul {
		list-style-type: none;

		a {
			text-decoration: none;
			display: block;
			font-size: 18px;
			color: rgba(9, 22, 42, 0.8);
			&.active {
				color: rgb(0, 0, 0);
				font-weight: 500;
			}
			&:hover {
				background-color: #999ea398;
			}
			&:active {
				color: rgba(9, 22, 42, 0.8);
			}
		}
	}
}
