.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: auto;
	.logo a {
		color: rgb(255, 255, 255);
	}
	.login_block {
		a {
			color: rgb(255, 255, 255);
		}
		color: rgb(255, 255, 255);
	}
}
